

body {
    display: block;
    margin: 0 auto;
    font-family: "Roboto",sans-serif;
}
.map-container {
    width: 100vmin;
}
.center-me {
    margin: 0 auto;
  }
.vis {
    height: 95vmin;
    width: 90vmin;
  }
.background {
  fill: transparent; stroke: transparent !important;
}
