

body {
    display: block;
    margin: 8px;
    font-family: "Roboto",sans-serif;
}
.map-container {
    width: 95vmin;

}
.center-me {
    margin: 0 auto;
  }
.vis {
    height: 95vmin;
    width: 95vmin;
  }


  .vis2 {
    width: 100%;
    height: 650px;
  }
