                                    .togglebutton {
                                        font-size: 16;
                                        padding: 2px 6px;
                                        border-radius: 5px;
                                        font-weight: 400;
                                        background-color: #eeeeee;
                                        color: #696969 !important;
                                        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0, 07);
                                        cursor: pointer;
                                        display: inline-block;
                                        padding-top: 7px;
                                        padding-bottom: 5px;
                                        text-align: center;
                                        height: 20px;
                                    }

                                    .togglebutton:hover {
                                        background-color: #bce3ff;
                                        text-decoration: none;
                                    }


                                    .highlight {
                                        background-color: #429ddd !important;
                                        color: #ffffff !important;
                                        font-weight: 550;
                                    }

    html {
        font-family: helvetica;
    }

    a:link {
        text-decoration: none;
    }

    .inactivelink:hover {
        background-color: #e7caec;
    }

    .toplink {
        padding: 1px 6px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.07);
        cursor: pointer;
        margin-bottom:15px;
    }

    .toplink2 {
        padding: 1px 6px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 200;
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.07);
        cursor: pointer;
        margin-top:10px;
    }

    .activelink {
        background: #803D8D;
        color: #ffffff;

    }

    .inactivelink {
        background: #f9f9f9;
        color: #5f5f5f;
    }

    .boroughs {
        background: #424242;
        color: #e0e0e0;
    }

    .boroughs:hover{
        background: #464b79!important;
    }
